footer {
    position: fixed;
    bottom: 0;
    height: 50px;
    background: rgba(0,0,0,.85);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    .footer-elem {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 1px solid white;
        margin: 0 1rem;
        display: flex;
        justify-content: center;
        align-items: center;

        i {
            color: white;
            transition: .3s ease;
        }

        &:hover {
            border-color: var(--red);
            
            i {
                color: var(--red);
                transition: .3s ease;
            }
        }
    }
}