.b-profil {

    .form-elem {
        display: inline-block;
        width: 82%;
        margin-right: 1rem;
        vertical-align: middle;
    }

    button {
        vertical-align: text-top;
    }

	.profil-pseudo {
		position: absolute;
		left: -1rem;
		bottom: 2rem;
		color: white;
		background: var(--red);
		padding: 2px 1rem;
		font-size: 2rem;
	}

}
