@font-face {
    font-family: "PlayBold";
    src: local("PlayBold"),
    url("./fonts/PlayfairDisplay-Black.ttf") format("truetype");
}

@font-face {
    font-family: "SourceReg";
    src: local("SourceReg"),
    url("./fonts/SourceSansPro-Regular.ttf") format("truetype");
}

:root {
    // --dgrey: #283149;
    // --grey: #404B69;
    // --lgrey: #DBEDF3;
    // --red: #F73859;
    --dgrey: #3A3845;
    --grey: #826F66;
    --lgrey: #C69B7B;
    --red: #F7CCAC;
    font-size: 14px;
    --pf: 'PlayBold';
    --sr: 'SourceReg';
    line-height: 1;
}

body {
    font-family: var(--sr);
}

h1 {
    margin: 1rem 0;
    font-family: var(--pf);
}

h2,
h3,
h4 {
    margin: 2rem 0 1rem 0;
    font-family: var(--pf);
    line-height: 1;
}

h2 {
    margin: 0 0 5rem 0;
    text-align: center;
    text-transform: capitalize;
}

h4 {
    line-height: 1;
}

.b-dg-container,
.b-g-container,
.b-lg-container,
.b-red-container {
    padding: 10rem 0;
}

.b-dg-container {
    background: var(--dgrey);
    color: white;
}

.b-g-container {
    background: var(--grey);
    color: white;
}

.b-lg-container {
    background: var(--lgrey);
    color: white;
}

.b-red-container {
    background: var(--red);
    color: white;
}

.img-wrapper {
    position: relative;
    
    img {
        width: 100%;
    }
}

.b-btn {
    background: var(--grey);
    color: var(--lgrey);
    transition: .3s ease;
    padding-left: 2rem;
    padding-right: 2rem;

    &:hover {
        background: var(--red);
        color: white;
        transition: .3s ease;
    }
}
